html, body {
    height: 100%;
}

#page-container, #content {
    height: 100%;
}

.notification-object {
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tablecat {
    background-color: #ff5b57 !important;
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
    color: white;
}

.panel-news {
    border-color: transparent;
    border-radius: 0;
}

.panel-news .lead {
    overflow: hidden;
    height: 90px;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}

.news-link {
    color: #3fa1ea;
}

.news-header {
    margin-top: 0px;
}

.news-link:visited {
    color: #204b73;
}

.news-link:hover {
    color: #234973;
}

.dialog:hover{
    background: #f5f7fa;
}

.dialog-wrapper{
    cursor: pointer;
}

.header.navbar.navbar-transparent.navbar-small {
    background: #f4f6f7 !important;
}