RewriteEngine on

# не позволять httpd отдавать файлы, начинающиеся с точки (.htaccess, .svn, .git и прочие)
RedirectMatch 403 /\..*$
# если директория или файл существуют, использовать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# иначе отправлять запрос на файл index.php
RewriteRule . index.php

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 minute"
    ExpiresByType image/png "access plus 1 minute"
</IfModule>
